:root {
    --main-color: #3C3C3C;
    --secondary-color: #50524F;
    --third-color: white;
    --light-orange: #ffb72f;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: var(--main-color);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* HEADER */
header {
    display: grid;
    width: 100vw;
    height: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--secondary-color);
}


nav {
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.toggle_menu {
    transform: translateX(100%);
}

#logo {
    display: flex;
    align-items: center;
    height: 150px;
    width: 200px;
    padding: 20px;
}

#logo h1 {
    text-align: left;
    margin-left: 10px;
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-size: 4.5rem;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
}

header #logo img {
    height: 100%;
}

.menu_links {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 4rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.menu_links a {
    margin-bottom: 40px;
    font-family: interstate-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 4rem;
    text-decoration: none;
    color: var(--third-color);
    text-align: center;
}

.menu_links a:hover {
    color: #ffcd6e;
}

a.menu_valgt {
    color: var(--light-orange);
}

#burger_knap {
    top: 37.5px;
    right: 37.5px;
    width: 75px;
    height: 75px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    background-image: url(assets/white_circle.svg);
    background-size: 100%;
    z-index: 120;
}

.pos_absolute {
    position: absolute;
}

.pos_fixed {
    position: fixed;
}

#burger_knap div {
    display: block;
    position: absolute;
    height: 8px;
    width: 50px;
    background-color: var(--third-color);
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#burger_knap div:nth-child(1) {
    top: 20px;
    left: 12px;
}

#burger_knap div:nth-child(2),
#burger_knap div:nth-child(3) {
    top: 33.5px;
    left: 12px;
}

#burger_knap div:nth-child(4) {
    top: 47px;
    left: 12px;
}

#burger_knap.open div:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#burger_knap.open div:nth-child(2) {
    transform: rotate(45deg);
    background-color: var(--third-color);
}

#burger_knap.open div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--third-color);
}

#burger_knap.open div:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hide_main {
    display: none;
}


h1 {
    font-family: interstate, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    color: var(--third-color);
}



h2 {
    font-family: interstate, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.2rem;
    color: var(--main-color);
    margin: 10px 0 5px 0;
}

h3 {
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--main-color);
    margin: 0 0 5px 0;
}

p {
    font-size: 1.6rem;
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--third-color);
}

h4 {
    font-size: 1.6rem;
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--third-color);
    margin: 0 0 3px 0;
}

em {
    font-weight: 700;
    font-style: normal;
}

.kort {
    font-size: 1.6rem;
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
    margin: 15px 10px 10px 0;
}

.beskrivelse {
    margin: 30px;
    text-align-last: left;
    max-width: 600px;
}

.beskrivelse h1 {
    margin-bottom: 0px;
}

#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/assets/splash_img.jpg);
    background-size: cover;
    background-position: 90% 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#splash img {
    width: 300px;
    grid-row: 2/3;
}

#splash h1 {
    font-family: interstate, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 10rem;
    text-align: center;
    color: var(--third-color);
    grid-row: 3/4;
    margin-top: 2px;
    max-height: 100px
}

#splash a {
    grid-row: 4/4;
    align-self: end;
    width: 50px;
}

#splash_arrow {
    width: 50px;
    height: 50px;
    border: 10px solid white;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    margin-bottom: 30px;
    margin-right: 30px;
}

#front_page_nav {
    margin: 20px;
}

#navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#navigation img {
    width: 100%;
    cursor: pointer;
    transition: 0.5s all;
}

#navigation img:hover {
    transform: scale(1.03);
}

#data_container {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    width: 100vw;
}

.beer {
    height: 250px;
    ;
    padding: 20px;
    background-color: var(--third-color);
    border-radius: 8px;
    border: 10px solid var(--main-color);
    border-style: double;
    cursor: pointer;
}

.billede {
    height: 100%;
    float: left;
    margin: 5px 40px 5px 10px;
}

#popup {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 130;
}

.indhold {
    width: 80vw;
    max-width: 600px;
    max-height: 80vh;
    background-color: white;
    padding: 20px;
    overflow: scroll;
    z-index: 140;
    color: black;
}

.single_beer img {
    height: 400px;
    float: right;
}

.single_beer h1 {
    font-size: 3rem;
    color: var(--secondary-color);
    text-align: left;
    margin: 0 0 5px 0;
}

.single_beer h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: left;
    margin: 0 0 5px 0;
}

.single_beer p {
    font-size: 1.6rem;
    color: var(--secondary-color);
}

.luk {
    float: right;
    font-size: 2.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: var(--secondary-color);
}

.luk:hover {
    border: none;
    outline: none;
    color: var(--light-orange);
}

.knapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 30px auto 10px auto;
    max-width: 90vw;
}

button {
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--third-color);
    outline: 5px solid var(--third-color);
    outline-offset: 3px;
    color: var(--third-color);
    font-size: 2rem;
    font-family: interstate, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    border: 2px solid #ffcd6e;
    outline: 5px solid #ffcd6e;
    color: #ffcd6e;
}

.valgt {
    border: 2px solid var(--light-orange);
    outline: 5px solid var(--light-orange);
    color: var(--light-orange);
}

footer {
    background-color: var(--secondary-color);
    height: 130px;
    display: grid;
    align-content: center;
    padding: 30px;
}

@media only screen and (min-width: 600px) {
    #splash {
        background-position: 50% 0%;
    }

    .beskrivelse {
        margin: 30px auto;
    }
}

@media only screen and (min-width: 750px) {
    #data_container {
        grid-template-columns: 1fr 1fr;
    }

    button {
        font-size: 2.8rem;
    }

    .knapper {
        max-width: 500px;
    }

    #navigation {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr
    }


}

@media only screen and (min-width: 1200px) {
    #data_container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #burger_knap {
        display: none;
    }

    .menu_links {
        flex-direction: row;
        justify-content: flex-end;

    }

    .menu_links a {
        font-size: 3rem;
        margin-bottom: 0;
        margin-left: 30px;
    }

    .menu_links a:last-child {
        margin-right: 30px;
    }

    .toggle_menu {
        transform: translateX(0);
    }

    nav {
        grid-column: 2/4;
        width: 100%;
        height: 100px;
        background-color: transparent;
        position: relative;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
        margin-bottom: 10px;
    }

    .knapper {
        grid-template-columns: repeat(4, 1fr);
        max-width: 800px;
    }
}
